.container {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid rgba(5, 120, 252, 0.5);
}

.form {
}

.input {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.button {
  display: block;
  width: 150px;
  margin: 0 auto;
}
